.header-container {
    background-color: var(--bg-header);
    padding: 1.2rem 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.avatar-username {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.4rem;
    font-family: Jost;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: 0.1rem;
    text-align: right;
    color: #969696;


}